.portfolio {
  @include section;
}

.portfolio__container {
  @include container;
}

.projects-button__list {
  display: flex;
  padding-top: 0px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 35px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}

.projects-button__item {
  margin-right: 8px;
}

.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__item {
    
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 2) / 3);
  }
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);

  width: 101%;
  height: 101%;
  padding: 0 24px;
  display: flex;
  align-items: center;

  user-select: none;

  background-color: rgba(33, 150, 243, 0.9);

  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  display: flex;
  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--primary-white-color);
}

.projects__item:hover .overlay {
  transform: translateY(0%);
}

.projects__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.projects__text {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: var(--secondary-text-color);
}

.projects__wrepper {
  padding: 20px 23px;
  border: 1px solid rgba(238, 238, 238, 1);
  border-top: none;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-grow: 1;
  }
}

.projects__link {
  display: block;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

.projects__link:hover,
.projects__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
